@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@plugin "daisyui";

@config {
  darkmode: never;
}

body {
  font-family: 'Exo 2', sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  /* font-style: normal; */
}

.home-screen {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
.custom-offset-bd {
  outline: 2px solid rgb(190, 47, 34);
  outline-offset: 4px;
  outline-width: 2px;
  outline-style: solid;
}
